<!-- #region  footer-->

<footer id="footer" class="footer">
  <div class="container footer">
    <div class="footer-div">
      <div class="footer-container">
        <a href="./index.html" class="footer-logo">
          <img
            src="/img/common/icon-logo.svg"
            alt="footer logo"
            class="footer-logo-icon"
          />
        </a>
        <h2 class="footer-title">
          Subscribe to our newsletter for the latest updates on our yoga courses
          and events.
        </h2>
        <form class="footer-form" name="footer-form" autocomplete="off">
          <label class="footer-form-label">
            <input
              class="footer-form-input"
              type="email"
              name="footer-input"
              placeholder="Your email here"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </label>
          <button type="submit" class="footer-form-btn">Join</button>
        </form>
        <p class="footer-text">
          By subscribing, you consent to our Privacy Policy and agree to receive
          updates.
        </p>
        <p class="footer-bottom-text">
          © 2025 Yoga Studio. All rights reserved.
        </p>
      </div>
      <div class="footer-container-links">
        <div class="footer-box-quick">
          <h3 class="footer-list-title">Quick Links</h3>
          <ul class="footer-list-links">
            <li class="footer-list-links-item">
              <a href="#yoga-classes" class="footer-list-link">Yoga Classes</a>
            </li>
            <li class="footer-list-links-item">
              <a href="#team" class="footer-list-link">Team</a>
            </li>
            <li class="footer-list-links-item">
              <a href="#pricing" class="footer-list-link">Pricing</a>
            </li>
            <li class="footer-list-links-item">
              <a href="#footer" class="footer-list-link">Contacts</a>
            </li>
          </ul>
          <p class="footer-bottom-text">
            © 2025 Yoga Studio. All rights reserved.
          </p>
        </div>
        <div class="footer-box-connect">
          <h3 class="footer-list-title">Connect With Us</h3>
          <ul class="footer-list-links">
            <li class="footer-list-links-item">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="footer-social-icon"
              >
                <svg width="24" height="24" class="social-icon">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
                <span class="footer-list-link">Facebook</span>
              </a>
            </li>
            <li class="footer-list-links-item">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                class="footer-social-icon"
              >
                <svg width="24" height="24" class="social-icon">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
                <span class="footer-list-link">Instagram</span>
              </a>
            </li>
            <li class="footer-list-links-item">
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                class="footer-social-icon"
              >
                <svg width="24" height="24" class="social-icon">
                  <use href="/img/icons.svg#icon-linkedin"></use>
                </svg>
                <span class="footer-list-link">LinkedIn</span>
              </a>
            </li>
            <li class="footer-list-links-item">
              <a
                href="https://www.youtube.com/"
                target="_blank"
                class="footer-social-icon"
              >
                <svg width="24" height="24" class="social-icon">
                  <use href="/img/icons.svg#icon-youtube"></use>
                </svg>
                <span class="footer-list-link">YouTube</span>
              </a>
            </li>
          </ul>
          <p class="footer-bottom-text">
            © 2025 Yoga Studio. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- #endregion footer-->
