<!-- #region gallery -->

<section>
    <div class="container">
        <h2 class="gallery-title">Breathe in the Space</h2>
        <p class="gallery-text">Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during each session.</p>
        <ul>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="../img/gallery/gallery-img1.png 1x, ../img/gallery/gallery-img1@x2.png 2x"
                    width="421"
                    height="448"
                    class="gallery-img"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="../img/gallery/gallery-img1.png 1x, ../img/gallery/gallery-img1@x2.png 2x"
                    width="340"
                    height="290"
                    class="gallery-img"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="../img/gallery/gallery-img1.png 1x, ../img/gallery/gallery-img1@x2.png 2x"
                    width="155"
                    height="155"
                    class="gallery-img"
                  />
                  <img
                    class="gallery-img"
                    src="../img/gallery/gallery-img1.png"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="../img/gallery/gallery-img2.png 1x, ../img/gallery/gallery-img2@x2.png 2x"
                    width="421"
                    height="448"
                    class="gallery-img"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="../img/gallery/gallery-img2.png 1x, ../img/gallery/gallery-img2@x2.png 2x"
                    width="340"
                    height="290"
                    class="gallery-img"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="../img/gallery/gallery-img2.png 1x, ../img/gallery/gallery-img2@x2.png 2x"
                    width="155"
                    height="155"
                    class="gallery-img"
                  />
                  <img
                    class="gallery-img"
                    src="../img/gallery/gallery-img2.png"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="../img/gallery/gallery-img3.png 1x, ../img/gallery/gallery-img3@x2.png 2x"
                    width="421"
                    height="448"
                    class="gallery-img"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="../img/gallery/gallery-img3.png 1x, ../img/gallery/gallery-img3@x2.png 2x"
                    width="340"
                    height="290"
                    class="gallery-img"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="../img/gallery/gallery-img3.png 1x, ../img/gallery/gallery-img3@x2.png 2x"
                    width="155"
                    height="155"
                    class="gallery-img"
                  />
                  <img
                    class="gallery-img"
                    src="../img/gallery/gallery-img3.png"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="../img/gallery/gallery-img4.png 1x, ../img/gallery/gallery-img4@x2.png 2x"
                    width="421"
                    height="448"
                    class="gallery-img"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="../img/gallery/gallery-img4.png 1x, ../img/gallery/gallery-img4@x2.png 2x"
                    width="340"
                    height="290"
                    class="gallery-img"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="../img/gallery/gallery-img4.png 1x, ../img/gallery/gallery-img4@x2.png 2x"
                    width="155"
                    height="155"
                    class="gallery-img"
                  />
                  <img
                    class="team-img"
                    src="../img/gallery/gallery-img4.png"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="../img/gallery/gallery-img5.png 1x, ../img/gallery/gallery-img5@x2.png 2x"
                    width="421"
                    height="448"
                    class="gallery-img"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="../img/gallery/gallery-img5.png 1x, ../img/gallery/gallery-img5@x2.png 2x"
                    width="340"
                    height="290"
                    class="gallery-img"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="../img/gallery/gallery-img5.png 1x, ../img/gallery/gallery-img5@x2.png 2x"
                    width="155"
                    height="155"
                    class="gallery-img"
                  />
                  <img
                    class="gallery-img"
                    src="../img/gallery/gallery-img5.png"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="../img/gallery/gallery-img6.png 1x, ../img/gallery/gallery-img6@x2.png 2x"
                    width="421"
                    height="448"
                    class="gallery-img"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="../img/gallery/gallery-img6.png 1x, ../img/gallery/gallery-img6@x2.png 2x"
                    width="340"
                    height="290"
                    class="gallery-img"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="../img/gallery/gallery-img6.png 1x, ../img/gallery/gallery-img6@x2.png 2x"
                    width="155"
                    height="155"
                    class="gallery-img"
                  />
                  <img
                    class="gallery-img"
                    src="../img/gallery/gallery-img6.png"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
        </ul>

    </div>
</section>

<!-- #endregion gallery-->