<!-- #region gallery -->

<section class=section-gallery id="gallery">
    <div class="container gallery-container">
        <h2 class="gallery-title">Breathe in the Space</h2>
        <p class="gallery-text">Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during each session.</p>
        <ul class="gallery-list">
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="/yoga-bloom/src/img/gallery/desk/Gallery1@1x.jpg 1x, /yoga-bloom/src/img/gallery/desk/Gallery1@2x.jpg 2x"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="/yoga-bloom/src/img/gallery/tab/Gallery1@1x.jpg 1x, /yoga-bloom/src/img/gallery/tab/Gallery1@2x.jpg 2x"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="/yoga-bloom/src/img/gallery/mob/Gallery1@1x.jpg 1x, /yoga-bloom/src/img/gallery/mob/Gallery1@2x.jpg 2x"
                  />
                  <img
                    class="gallery-img"
                    src="/yoga-bloom/src/img/gallery/mob/Gallery1@1x.jpg"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="/yoga-bloom/src/img/gallery/desk/Gallery2@1x.jpg 1x, /yoga-bloom/src/img/gallery/desk/Gallery2@2x.jpg 2x"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="/yoga-bloom/src/img/gallery/tab/Gallery2@1x.jpg 1x, /yoga-bloom/src/img/gallery/tab/Gallery2@2x.jpg 2x"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="/yoga-bloom/src/img/gallery/mob/Gallery2@1x.jpg 1x, /yoga-bloom/src/img/gallery/mob/Gallery2@2x.jpg 2x"
                  />
                  <img
                    class="gallery-img"
                    src="/yoga-bloom/src/img/gallery/mob/Gallery2@1x.jpg"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="/yoga-bloom/src/img/gallery/desk/Gallery3@1x.jpg 1x, /yoga-bloom/src/img/gallery/desk/Gallery3@2x.jpg 2x"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="/yoga-bloom/src/img/gallery/tab/Gallery3@1x.jpg 1x, /yoga-bloom/src/img/gallery/tab/Gallery3@2x.jpg 2x"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="/yoga-bloom/src/img/gallery/mob/Gallery3@1x.jpg 1x, /yoga-bloom/src/img/gallery/mob/Gallery3@2x.jpg 2x"
                  />
                  <img
                    class="gallery-img"
                    src="/yoga-bloom/src/img/gallery/mob/Gallery3@1x.jpg"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="/yoga-bloom/src/img/gallery/desk/Gallery4@1x.jpg 1x, /yoga-bloom/src/img/gallery/desk/Gallery4@2x.jpg 2x"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="/yoga-bloom/src/img/gallery/tab/Gallery4@1x.jpg 1x, /yoga-bloom/src/img/gallery/tab/Gallery4@2x.jpg 2x"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="/yoga-bloom/src/img/gallery/mob/Gallery4@1x.jpg 1x, /yoga-bloom/src/img/gallery/mob/Gallery4@2x.jpg 2x"
                  />
                  <img
                    class="gallery-img"
                    src="/yoga-bloom/src/img/gallery/mob/Gallery4@1x.jpg"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="/yoga-bloom/src/img/gallery/desk/Gallery5@1x.jpg 1x, /yoga-bloom/src/img/gallery/desk/Gallery5@2x.jpg 2x"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="/yoga-bloom/src/img/gallery/tab/Gallery5@1x.jpg 1x, /yoga-bloom/src/img/gallery/tab/Gallery5@2x.jpg 2x"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="/yoga-bloom/src/img/gallery/mob/Gallery5@1x.jpg 1x, /yoga-bloom/src/img/gallery/mob/Gallery5@2x.jpg 2x"
                  />
                  <img
                    class="gallery-img"
                    src="/yoga-bloom/src/img/gallery/mob/Gallery5@1x.jpg"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
            <li class="gallery-li">
                <picture>
                  <source
                    media="(min-width: 1336px)"
                    srcset="/yoga-bloom/src/img/gallery/desk/Gallery6@1x.jpg 1x, /yoga-bloom/src/img/gallery/desk/Gallery6@2x.jpg 2x"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="/yoga-bloom/src/img/gallery/tab/Gallery6@1x.jpg 1x, /yoga-bloom/src/img/gallery/tab/Gallery6@2x.jpg 2x"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="/yoga-bloom/src/img/gallery/mob/Gallery6@1x.jpg 1x, /yoga-bloom/src/img/gallery/mob/Gallery6@2x.jpg 2x"
                  />
                  <img
                    class="gallery-img"
                    src="/yoga-bloom/src/img/gallery/mob/Gallery6@1x.jpg"
                    alt="yogabloom lesson foto"
                  />
                </picture>
            </li>
        </ul>

    </div>
</section>

<!-- #endregion gallery-->