<!-- #region header -->

<header class="header">
  <div class="container">
    <nav class="header-navigator">
      <svg class="icon-menu" width="24" height="24">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
      <ul class="nav-list">
        <li><a href="" class="nav-link">Yoga Classes</a></li>
        <li><a href="" class="nav-link">Team</a></li>
        <li><a href="" class="nav-link">Testimonials</a></li>
        <li><a href="" class="nav-link">Pricing</a></li>
        <li><a href="" class="nav-link">Contacts</a></li>
      </ul>
        <svg class="icon-logo" width="75" height="32">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        <a href="" class="header-link">Join</a>
    </nav>
  </div>
</header>

<!-- #endregion header-->