<!-- #region header -->

<header class="header">
  <div class="container">
    <nav class="header-navigator">
      <svg class="icon-burger-menu" width="24" height="24">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
      <svg class="icon-close-burger-menu" width="24" height="24">
        <use href="/img/icons.svg#icon-x"></use>
      </svg>
      <ul class="header-nav-list">
        <li><a href="#yoga-classes" class="header-nav-link">Yoga Classes</a></li>
        <li><a href="#team" class="header-nav-link">Team</a></li>
        <li><a href="#testimonials" class="header-nav-link">Testimonials</a></li>
        <li><a href="#pricing" class="header-nav-link">Pricing</a></li>
        <li><a href="#footer" class="header-nav-link">Contacts</a></li>
      </ul>
      <a href="/index.html" class="header-logo">
        <img src="/img/common/icon-logo.svg" alt="Yoga Studio Logo" />
      </a>
      <a href="#pricing" class="header-button">Join<span class="header-button-part"> Now</span></a>
    </nav>
  </div>
  <div class="mobile-menu">
    <div class="mobile-menu-content container">
      <ul class="mobile-menu-list">
        <li><a href="#yoga-classes" class="mobile-menu-link navigation-link">Yoga Classes</a></li>
        <li><a href="#team" class="mobile-menu-link navigation-link">Team</a></li>
        <li><a href="#testimonials" class="mobile-menu-link navigation-link">Testimonials</a></li>
        <li><a href="#pricing" class="mobile-menu-link navigation-link">Pricing</a></li>
        <li><a href="#footer" class="mobile-menu-link navigation-link">Contacts</a></li>
      </ul>
      <a href="#pricing" class="mobile-menu-button navigation-link">Join</a>
    </div>
  </div>
</header>

<!-- #endregion header-->