<div class="backdrop" data-modal>
  <div class="modal" data-modal-body>
    <button data-modal-close class="button-close" type="button" aria-label="Close modal">
      <svg class="close-icon" width="16" height="16">
        <use href="../img/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text" data-modal-title></p>
    <p class="modal-price" data-modal-price></p>
    <form name="form" class="form">
      <div class="form-div">
        <label class="label-modal" for="user-name-first">Your Name</label>
        <div class="input-div">
          <input class="input" type="text" id="user-name-first" placeholder="Liam" required />
        </div>
      </div>
      <div class="modal-contacts">
        <div class="form-div">
          <label class="label-modal" for="email-first">Email</label>
          <div class="input-div">
            <input class="input" type="email" id="email-first" placeholder="hello@yogabloom.com" required />
          </div>
        </div>
        <div class="form-div">
          <label class="label-modal" for="phone-first">Phone number</label>
          <div class="input-div">
            <input class="input" type="tel" id="phone-first" placeholder="+380 (95) 123 12 12" required />
          </div>
        </div>
      </div>
      <div class="button-wrap">
        <button type="submit" class="button-modal">Go to checkout</button>
      </div>
    </form>
  </div>
</div>