    <link rel="stylesheet" href="../css/modal.css" />
    <div class="backdrop" data-modal>
      <div class="modal">
        <button
          class="button-close"
          type="button"
          aria-label="Close modal"
          data-menu-close
        >
          <svg class="close-icon" width="16" height="16">
            <use href="../img/icons.svg#icon-modal-close"></use>
          </svg>
        </button>
        <h2 class="modal-title">Join Now!</h2>
        <p class="modal-text">One Session</p>
        <p class="modal-price">$10</p>
        <form name="form" class="form">
          <div class="form-div">
                <label class="label-modal" for="user-name">Your Name</label>
                <div class="input-div">
                <input
                    class="input"
                    type="text"
                    name="user-name"
                    id="user-name"
                    placeholder="Liam"
                    required
                />
                </div>
          </div>
          <div class="form-div">
                <label class="label-modal" for="email">Email</label>
                <div class="input-div">
                <input
                    class="input"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="hello@yogabloom.com"
                    required
                />
                </div>
          </div>
                <div class="form-div">
                    <label class="label-modal" for="phone">Phone number</label>
                    <div class="input-div">
                    <input
                        class="input"
                        type="tel"
                        name="email"
                        id="phone"
                        placeholder="+380 (95) 123 12 12"
                        required
                    />
                </div>
          </div>
          <button type="submit" class="button-modal">Go to checkout</button>
        </form>
      </div>
    </div>