<!-- first -->
  <div class="backdrop is-open" data-modal>
    <div class="modal">
      <button class="button-close" type="button" aria-label="Close modal">
        <svg class="close-icon" width="16" height="16">
          <use href="../img/icons.svg#icon-modal-close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-text">One Session</p>
      <p class="modal-price">$10</p>
      <form name="form" class="form">
        <div class="form-div">
          <label class="label-modal" for="user-name">Your Name</label>
          <div class="input-div">
            <input class="input" type="text" id="user-name-first" placeholder="Liam" required />
          </div>
        </div>
        <div class="modal-contacts">
          <div class="form-div">
            <label class="label-modal" for="email">Email</label>
            <div class="input-div">
              <input class="input" type="email" id="email-first" placeholder="hello@yogabloom.com" required />
            </div>
          </div>
          <div class="form-div">
            <label class="label-modal" for="phone">Phone number</label>
            <div class="input-div">
              <input class="input" type="tel" id="phone-first" placeholder="+380 (95) 123 12 12" required />
            </div>
          </div>
        </div>
        <div class="button-wrap">
          <button type="submit" class="button-modal">Go to checkout</button>
        </div>
      </form>
    </div>
  </div>
  <!-- second -->
     <div class="backdrop is-open" data-modal>
    <div class="modal">
      <button class="button-close" type="button" aria-label="Close modal">
        <svg class="close-icon" width="16" height="16">
          <use href="../img/icons.svg#icon-modal-close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-text">8 Sessions Package</p>
      <p class="modal-price">$65</p>
      <form name="form" class="form">
        <div class="form-div">
          <label class="label-modal" for="user-name">Your Name</label>
          <div class="input-div">
            <input class="input" type="text" id="user-name-second" placeholder="Liam" required />
          </div>
        </div>
        <div class="modal-contacts">
          <div class="form-div">
            <label class="label-modal" for="email">Email</label>
            <div class="input-div">
              <input class="input" type="email" id="email-second" placeholder="hello@yogabloom.com" required />
            </div>
          </div>
          <div class="form-div">
            <label class="label-modal" for="phone">Phone number</label>
            <div class="input-div">
              <input class="input" type="tel" id="phone-second" placeholder="+380 (95) 123 12 12" required />
            </div>
          </div>
        </div>
        <div class="button-wrap">
          <button type="submit" class="button-modal">Go to checkout</button>
        </div>
      </form>
    </div>
  </div>
    <!-- third -->
  <div class="backdrop is-open" data-modal>
    <div class="modal">
      <button class="button-close" type="button" aria-label="Close modal">
        <svg class="close-icon" width="16" height="16">
          <use href="../img/icons.svg#icon-modal-close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-text">12 Sessions Package</p>
      <p class="modal-price">$80</p>
      <form name="form" class="form">
        <div class="form-div">
          <label class="label-modal" for="user-name">Your Name</label>
          <div class="input-div">
            <input class="input" type="text" id="user-name-third" placeholder="Liam" required />
          </div>
        </div>
        <div class="modal-contacts">
          <div class="form-div">
            <label class="label-modal" for="email">Email</label>
            <div class="input-div">
              <input class="input" type="email" id="email-third" placeholder="hello@yogabloom.com" required />
            </div>
          </div>
          <div class="form-div">
            <label class="label-modal" for="phone">Phone number</label>
            <div class="input-div">
              <input class="input" type="tel" id="phone-third" placeholder="+380 (95) 123 12 12" required />
            </div>
          </div>
        </div>
        <div class="button-wrap">
          <button type="submit" class="button-modal">Go to checkout</button>
        </div>
      </form>
    </div>
  </div>