<section class="section-pricing">
    <div class="container">
        <div class="div-pricing-title">
            <p class="p-pricing-title">Affordable</p>
            <h2 class="h2-pricing">Pricing Plans</h2>
            <p class="p-pricing">Choose the perfect plan for your yoga journey.</p>
        </div>


        <ul class="ul-pricing">
            <li class="li-pr-card li-pr-card-tab">
                <div class="div-pricing-car li-pr-card">
                    <div class="pricing-card">
                        <h3 class="h3-pricing">One Session</h3>
                        <p class="p-bill">$10</p>
                        <ul class="ul-pricing-card">
                            <li class="li-pricing">
                                <svg width="24" height="24">
                                    <use href="/img/icons.svg#icon-check"></use>
                                </svg>1 group session
                            </li>
                            <li class="li-pricing">
                                <svg width="24" height="24">
                                    <use href="/img/icons.svg#icon-check"></use>
                                </svg>10%discount for next 2 Sessions
                            </li>
                            <li class="li-pricing">
                                <svg width="24" height="24">
                                    <use href="/img/icons.svg#icon-check"></use>
                                </svg>Community support group
                            </li>
                        </ul>
                        <button type="button" class="button-pricing">Join</button>
                    </div>
            </li>

            <li class="li-pr-card li-pr-card-tab">
                <div class="pricing-card">
                    <h3 class="h3-pricing">8 Sessions Package</h3>
                    <p class="p-bill">$65</p>
                    <ul class="ul-pricing-card">
                        <li class="li-pricing">
                            <svg width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>6 Group Sessions
                        </li>
                        <li class="li-pricing">
                            <svg width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>2 Individual Sessions
                        </li>
                        <li class="li-pricing">
                            <svg width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>Priority customer support
                        </li>
                    </ul>
                    <button type="button" class="button-pricing">Join</button>
                </div>
            </li>

            <li class="li-pr-card li-wide">
                <div class="pricing-card pricing-card-wide">
                    <div class="div-card-wide">
                        <div class="div-card-title position-relative">
                            <h3 class="h3-pricing h3-wide-card">12 Sessions Package</h3>
                            <p class="p-bill">$80</p>
                        </div>
                        <ul class="ul-pricing-card ul-pricing-tricard">
                            <li class="li-pricing">
                                <svg width="24" height="24">
                                    <use href="/img/icons.svg#icon-check"></use>
                                </svg>8 Group Sessions
                            </li>
                            <li class="li-pricing">
                                <svg width="24" height="24">
                                    <use href="/img/icons.svg#icon-check"></use>
                                </svg>4 Individual Sessions
                            </li>
                            <li class="li-pricing list-item">
                                <svg width="24" height="24">
                                    <use href="/img/icons.svg#icon-check"></use>
                                </svg>Access to advanced classes
                            </li>
                            <li class="li-pricing">
                                <svg width="24" height="24">
                                    <use href="/img/icons.svg#icon-check"></use>
                                </svg>Monthly yoga challenges
                            </li>
                            <li class="li-pricing">
                                <svg width="24" height="24">
                                    <use href="/img/icons.svg#icon-check"></use>
                                </svg>Exclusive member discounts
                            </li>
                            <li class="li-pricing">
                                <svg width="24" height="24">
                                    <use href="/img/icons.svg#icon-check"></use>
                                </svg>Community support group
                            </li>
                        </ul>
                        <button type="button" class="button-pricing btm-ablt-wide">Join</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>











    </div>
</section>

<!-- #endregion pricing-->