<!-- #region team -->

<section class="section-team" id="team">
  <div class="container">
    <p class="team-small-title">Meet</p>
    <h2 class="team-title">Our Team</h2>
    <p class="team-text">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-list">
      <li class="team-list-item">
        <picture>
          <source
            srcset="/img/team/mob/img1@1x.jpg 1x, /img/team/mob/img1@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/img/team/tab/img1@1x.jpg 1x, /img/team/tab/img1@2x.jpg 2x"
            media="(min-width: 768px) and (max-width: 1335px)"
          />
          <source
            srcset="
              /img/team/desk/img1@1x.jpg 1x,
              /img/team/desk/img1@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <img
            src="/img/team/mob/img1@1x.jpg"
            alt="Liam Johnson"
            class="team-image"
          />
        </picture>
        <h3 class="team-list-title">Liam Johnson</h3>
        <p class="team-list-text-proff">Yoga Instructor</p>
        <p class="team-list-text">
          Emma has over 10 years of experience in Hatha and Vinyasa yoga.
        </p>
        <ul class="team-social-list">
          <li class="team-social-list-item">
            <a
              href="https://ua.linkedin.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-list-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            srcset="/img/team/mob/img2@1x.jpg 1x, /img/team/mob/img2@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/img/team/tab/img2@1x.jpg 1x, /img/team/tab/img2@2x.jpg 2x"
            media="(min-width: 768px) and (max-width: 1335px)"
          />
          <source
            srcset="
              /img/team/desk/img2@1x.jpg 1x,
              /img/team/desk/img2@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <img
            src="/img/team/mob/img2@1x.jpg"
            alt="Emma Stone"
            class="team-image"
          />
        </picture>
        <h3 class="team-list-title">Emma Stone</h3>
        <p class="team-list-text-proff">Meditation Coach</p>
        <p class="team-list-text">
          Liam specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
        <ul class="team-social-list">
          <li class="team-social-list-item">
            <a
              href="https://ua.linkedin.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            srcset="/img/team/mob/img3@1x.jpg 1x, /img/team/mob/img3@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/img/team/tab/img3@1x.jpg 1x, /img/team/tab/img3@2x.jpg 2x"
            media="(min-width: 768px) and (max-width: 1335px)"
          />
          <source
            srcset="
              /img/team/desk/img3@1x.jpg 1x,
              /img/team/desk/img3@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <img
            src="/img/team/mob/img3@1x.jpg"
            alt="Sophia Lee"
            class="team-image"
          />
        </picture>
        <h3 class="team-list-title">Sophia Lee</h3>
        <p class="team-list-text-proff">Pilates Trainer</p>
        <p class="team-list-text">
          Sophia combines Pilates with yoga for a holistic fitness approach.
        </p>
        <ul class="team-social-list">
          <li class="team-social-list-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            srcset="/img/team/mob/img4@1x.jpg 1x, /img/team/mob/img4@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/img/team/tab/img4@1x.jpg 1x, /img/team/tab/img4@2x.jpg 2x"
            media="(min-width: 768px) and (max-width: 1335px)"
          />
          <source
            srcset="
              /img/team/desk/img4@1x.jpg 1x,
              /img/team/desk/img4@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <img
            src="/img/team/mob/img4@1x.jpg"
            alt="Noah Brown"
            class="team-image"
          />
        </picture>
        <h3 class="team-list-title">Noah Brown</h3>
        <p class="team-list-text-proff">Yoga Therapist</p>
        <p class="team-list-text">
          Noah focuses on therapeutic yoga to aid recovery and enhance
          well-being.
        </p>
        <ul class="team-social-list">
          <li class="team-social-list-item">
            <a
              href="https://ua.linkedin.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            srcset="/img/team/mob/img5@1x.jpg 1x, /img/team/mob/img5@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/img/team/tab/img5@1x.jpg 1x, /img/team/tab/img5@2x.jpg 2x"
            media="(min-width: 768px) and (max-width: 1335px)"
          />
          <source
            srcset="
              /img/team/desk/img5@1x.jpg 1x,
              /img/team/desk/img5@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <img
            src="/img/team/mob/img5@1x.jpg"
            alt="Ava Green"
            class="team-image"
          />
        </picture>
        <h3 class="team-list-title">Ava Green</h3>
        <p class="team-list-text-proff">Fitness Trainer</p>
        <p class="team-list-text">
          Ava integrates strength training with yoga to promote overall fitness.
        </p>
        <ul class="team-social-list">
          <li class="team-social-list-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-list-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-list-item">
            <a
              href="https://ua.linkedin.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            srcset="/img/team/mob/img6@1x.jpg 1x, /img/team/mob/img6@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/img/team/tab/img6@1x.jpg 1x, /img/team/tab/img6@2x.jpg 2x"
            media="(min-width: 768px) and (max-width: 1335px)"
          />
          <source
            srcset="
              /img/team/desk/img6@1x.jpg 1x,
              /img/team/desk/img6@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <img
            src="/img/team/mob/img6@1x.jpg"
            alt="We're hiring!"
            class="team-image"
          />
        </picture>
        <h3 class="team-list-title">Clark Thomas</h3>
        <p class="team-list-text-proff">Fitness Trainer</p>
        <p class="team-list-text">
          Clark specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
        <ul class="team-social-list">
          <li class="team-social-list-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-social-list-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="team-social-icon"
            >
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<!-- #endregion team-->
