<!-- #region yoga classes -->

<section id="yoga-classes" class="yoga-classes">
  <div class="container">
    <p class="yoga-title-tagline">Explore</p>
    <h2 class="yoga-title-heading">Discover Our Most Popular Yoga Programs</h2>
    <p class="yoga-title-text">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-content-list">
      <li class="yoga-content-item">
        <picture>
          <source
            srcset="
              /img/yoga-classes/desk/programs1@1x.jpg 1x,
              /img/yoga-classes/desk/programs1@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/yoga-classes/tab/programs1@1x.jpg 1x,
              /img/yoga-classes/tab/programs1@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1335px)"
          />
          <source
            srcset="
              /img/yoga-classes/mob/programs1@1x.jpg 1x,
              /img/yoga-classes/mob/programs1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/yoga-classes/mob/programs1@1x.jpg" alt="programs" />
        </picture>
        <h3 class="yoga-content-title">
          Beginner Yoga: Foundations
          <span class="yoga-content-title-mobile">for New Practitioners</span>
        </h3>
        <p class="yoga-content-text">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="yoga-content-item">
        <picture>
          <source
            srcset="
              /img/yoga-classes/desk/programs2@1x.jpg 1x,
              /img/yoga-classes/desk/programs2@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/yoga-classes/tab/programs2@1x.jpg 1x,
              /img/yoga-classes/tab/programs2@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1335px)"
          />
          <source
            srcset="
              /img/yoga-classes/mob/programs2@1x.jpg 1x,
              /img/yoga-classes/mob/programs2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/yoga-classes/mob/programs2@1x.jpg" alt="programs2" />
        </picture>
        <h3 class="yoga-content-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="yoga-content-text">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="yoga-content-item">
        <picture>
          <source
            srcset="
              /img/yoga-classes/desk/programs3@1x.jpg 1x,
              /img/yoga-classes/desk/programs3@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/yoga-classes/tab/programs3@1x.jpg 1x,
              /img/yoga-classes/tab/programs3@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1335px)"
          />
          <source
            srcset="
              /img/yoga-classes/mob/programs3@1x.jpg 1x,
              /img/yoga-classes/mob/programs3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/yoga-classes/mob/programs3@1x.jpg" alt="programs3" />
        </picture>
        <h3 class="yoga-content-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="yoga-content-text">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a href="#pricing" class="yoga-btn"
      >Join<span class="yoga-btn-extra-text"> now</span></a
    >
  </div>
</section>

<!-- #endregion yoga classes-->
