<!-- #region yoga classes -->

<section>
  <div class="container">
    <div class="yoga-container-title">
      <p class="yoga-title-tagline">Explore</p>
      <h2 class="yoga-title-heading">
        Discover Our Most Popular Yoga Programs
      </h2>
      <p class="yoga-title-text">
        Join our community and elevate your practice with our expertly designed
        yoga programs. Each course is tailored to meet various skill levels and
        personal goals.
      </p>
    </div>
    <div class="yoga-container-content">
      <ul class="yoga-content-list">
        <li class="yoga-content-item">
          <picture>
            <source
              srcset="
                ./src/img/yoga-classes/desk/programs1@1x.jpg 1x,
                ./src/img/yoga-classes/desk/programs1@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./src/img/yoga-classes/tab/programs1@1x.jpg 1x,
                .src/img/yoga-classes/tab/programs1@2x.jpg  2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./src/img/yoga-classes/mob/programs1@1x.jpg 1x,
                ./src/img/yoga-classes/mob/programs1@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./src/img/yoga-classes/mob/programs1@1x.jpg"
              alt="programs"
            />
          </picture>
          <h3 class="yoga-content-title">
            Beginner Yoga: Foundations for New Practitioners
          </h3>
          <p class="yoga-content-text">
            Learn the basics of yoga in a supportive environment.
          </p>
        </li>
        <li class="yoga-content-item">
          <picture>
            <source
              srcset="
                ./src/img/yoga-classes/desk/programs2@1x.jpg 1x,
                ./src/img/yoga-classes/desk/programs1@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./src/img/yoga-classes/tab/programs2@1x.jpg 1x,
                ./src/img/yoga-classes/tab/programs2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./src/img/yoga-classes/mob/programs2@1x.jpg 1x,
                ./src/img/yoga-classes/mob/programs2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./src/img/yoga-classes/mob/programs2@1x.jpg"
              alt="programs2"
            />
          </picture>
          <h3 class="yoga-content-title">
            Vinyasa Flow: Energize Your Body and Mind
          </h3>
          <p class="yoga-content-text">
            Experience a dynamic sequence that connects breath and movement.
          </p>
        </li>
        <li class="yoga-content-item">
          <picture>
            <source
              srcset="
                ./src/img/yoga-classes/desk/programs3@1x.jpg 1x,
                ./src/img/yoga-classes/desk/programs3@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./src/img/yoga-classes/tab/programs3@1x.jpg 1x,
                ./src/img/yoga-classes/tab/programs3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./src/img/yoga-classes/mob/programs3@1x.jpg 1x,
                ./src/img/yoga-classes/mob/programs3@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./src/img/yoga-classes/mob/programs3@1x.jpg"
              alt="programs3"
            />
          </picture>
          <h3 class="yoga-content-title">
            Restorative Yoga: Deep Relaxation and Healing
          </h3>
          <p class="yoga-content-text">
            Unwind and rejuvenate with gentle poses and mindfulness.
          </p>
        </li>
      </ul>
    </div>
    <button class="yoga-btn" type="button">Join now</button>
  </div>
</section>

<!-- #endregion yoga classes-->
