/* #region hero */

.hero {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 48px;
}

.container.hero {
    padding: 0;
}

.hero-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #0d0b0a;
    margin: 48px 0 20px;
}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    margin-bottom: 24px;
}

.hero-link-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link-btn {
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    max-width: 329px;
    height: 46px;
    background-color: #c2d9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 10px 24px;
    color: #0d0b0a;
    white-space: nowrap;
}

.link-btn.other {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    max-width: 329px;
    height: 46px;
    background-color: rgba(13, 11, 10, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-part {
    display: none;
}

.link-btn:hover,
.link-btn:focus,
.link-btn.other:hover,
.link-btn.other:focus {
    cursor: pointer;
    background-color: #4d5664;
    border: 1px solid #4d5664;
    color: #f2fafa;
}

@media only screen and (min-width: 768px) {

    .hero {
        padding-bottom: 24px;
        padding-top: 72px;
    }

    .hero-title {
        max-width: 423px;
        margin: 24px 0 8px;
    }

    .hero-text {
        font-size: 18px;
        margin-bottom: 32px;
        max-width: 641px;
    }

    .hero-link-list {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .link-btn {
        width: 144px;
    }

    .link-btn.other {
        width: 144px;
    }

    .btn-part {
        display: inline-block;
    }
}

@media only screen and (min-width: 1336px) {

    .hero {
        padding-bottom: 80px;
    }

    .hero-container {
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }

    .hero-title {
        font-size: 72px;
        max-width: 644px;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .hero-text {
        margin-top: 80px;
}

.link-btn {
    width: 113px;
}

.link-btn.other {
    width: 128px;
}
}

/* #endregion hero */