body.no-scroll {
  overflow: hidden;
  touch-action: none;
}

.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;
}

/* Після відкриття */
.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* Мобільна версія — початково прихована */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.95);
  opacity: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background-color: #dfebeb;
  padding: 64px 16px 112px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 300ms ease, transform 300ms ease;
  pointer-events: none;
}

/* Коли відкрито */
.backdrop.is-open .modal {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* Планшет і ширше */
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    width: 704px;
    max-height: 573px;
    border-radius: 16px;
    padding: 72px 24px 24px 24px;
    background-color: #dfebeb;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
      0 2px 1px rgba(0, 0, 0, 0.2);
    transition: opacity 300ms ease, transform 300ms ease;
  }

  .backdrop.is-open .modal {
    transform: translate(-50%, -50%) scale(1);
  }
}

.button-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  padding: 0;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;

  transition: box-shadow 250ms ease-in-out, transform 0.25s ease-in-out;
  border-radius: 50%;
}

.button-close:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.2);
}

.modal-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 32px;
}

.modal-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 8px;
}

.modal-price {
  font-size: 44px;
  text-align: center;
  margin-bottom: 32px;
}

.form {
  width: 100%;
}

.label-modal {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

.input-div {
  margin-bottom: 16px;
}

.input {
  width: 100%;
  height: 42px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  background: rgba(13, 11, 10, 0.05);

  transition: border-color 250ms ease-in-out, box-shadow 250ms ease;
}

.input:hover {
  border-color: #0d0b0a;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.input::placeholder {
  color: rgba(13, 11, 10, 0.6);

  transition: color 0.3s ease-in-out;
}

.input:hover::placeholder {
  color: #0d0b0a;
}

.modal-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .modal-contacts {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 24px;
  }

  .modal-contacts .form-div {
    width: calc(50% - 12px);
  }
}

.button-modal {
  width: 100%;
  height: 46px;
  border-radius: 100px;
  background: #c2d9fc;
  border: 1px solid #c2d9fc;
  font-size: 16px;
  margin-top: 24px;
  color: #0d0b0a;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease,
    transform 250ms ease, box-shadow 250ms ease;
}

.button-modal:hover,
.button-modal:focus {
  background-color: #a9c6fa;
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: #0d0b0a;
}

@media screen and (min-width: 768px) {
  .button-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
  }

  .button-modal {
    width: 155px;
  }
}

/* Десктопна версія */
@media screen and (min-width: 1336px) {
  .modal {
    width: 768px;
    padding: 64px;
    max-height: 573px;
  }
}
