/* #region yoga classes */

.yoga-classes {
  background-color: #dfebeb;
  padding: 64px 0;
}

.yoga-classes img {
  border-radius: 16px;
}

/* mobile */

.yoga-title-tagline {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 12px;
}

.yoga-title-heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 20px;
}

.yoga-title-text {
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 48px;
}

.yoga-content-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 48px;
}

.yoga-content-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-top: 24px;
  margin-bottom: 20px;
}

.yoga-content-title-mobile {
  display: inline;
}

.yoga-content-text {
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}

.yoga-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yoga-btn-extra-text {
  display: none;
}

.yoga-btn:hover,
.yoga-btn:focus {
  background-color: #4d5664;
  color: #f2fafa;
}

/* mobile */

/* tablet */

@media screen and (min-width: 768px) {
  .yoga-classes {
    background-color: transparent;
    padding: 40px 0;
  }

  .yoga-title-text {
    font-size: 18px;
  }

  .yoga-content-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
  }

  .yoga-content-title-mobile {
    display: none;
  }

  .yoga-content-item {
    width: calc((100% - 24px) / 2);
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .yoga-btn {
    margin: 60px auto 0 auto;
    width: 110px;
  }

  .yoga-btn-extra-text {
    display: inline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1335px) {
  .yoga-content-item:nth-child(3) {
    width: 100%;
  }
}

/* tablet */

/* desktop */

@media screen and (min-width: 1336px) {
  .yoga-classes {
    padding: 112px 0;
  }

  .yoga-title-heading {
    font-size: 52px;
  }

  .yoga-content-title {
    font-size: 33px;
    /* max-width: 339px; */
  }

  .yoga-content-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .yoga-content-item {
    width: calc((100% - 24px) / 3);
  }

  .yoga-btn {
    margin: 40px auto 0 auto;
  }
}

/* desktop */

/* #endregion yoga classes */
